/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
  box-sizing: border-box;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* General Styles */
 
html {
  font-size: 16px;
}
 
body {
  background: black;
  color: #e2e3ed;
  font-family: 'Open Sans', sans-serif;
  font-size: .875em;
  line-height: 1.3em;
  font-weight: 400;
}
 
ul, 
ol {
 font-family: 'Open Sans', sans-serif;
 font-weight: 400;
 list-style: none;
}
 
a {
  color: #e2e3ed;
  text-decoration: none;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 1.15em;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 1.2em;
}
 
h3, 
h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 1.1em;
}
 
p {

}
 
img {
 width: 100%;
}

img.scaled {

}
 
figure {
 width: 30%;
}
 
address {
 font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
 
.content-wrapper {
 
}


/***** BASE HEADER AND FOOTER STYLES *****/

header, 
footer {
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 0 15px;
}

 /***** Base Header Styles  *****/

 header .content-wrapper {
  background: #202322;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 81%;
  margin: 0;
}

header nav {
  background: darkgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 75%;
  padding: 0 3px;
}

header nav ul {
  background: #202322;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125em;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 3px 0;
  width: 100%;
}

header nav ul li {
  padding: 0 30px;
}


/***** BASE CONTENT WRAPPER? *********/

/*.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}*/

 /***** Base Footer Styles  *****/

/*.footer-content {
  align-content: space-around; 
}*/

footer .content-wrapper {
  background: #202322;
  width: 82%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


footer .social {
  background: #202322;
  padding: 0 15px;
  width: 60%;
}

footer .social h4 {
  text-align: center;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;

}

footer .social-icons p {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 15px 0;
}


footer .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

footer .contact {
  background: #202322;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 0 15px;
  text-align: center;
  width: 60%;

}

address {

}

footer .copyright {
  background: #202322;
  display: flex;
  justify-content: center;
  width:82%;
}

/***** MOBILE HOMEPAGE STYLES  *****/

/***** Header  Styles  *****/


header .header-divider {
  width: 100%;
  height: 3%;
  /* change to add color*/
}

figure {

}

/***** Main Styles  **********************************/

main {
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 0 5px;
 }

aside {
  background: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 0 10px;
  width:77%;

}

section {
}

article {
}

/***** Hero Styles  *****/

.hero-area {
  background: url('../img/jake-melara-30679-unsplash.jpg') center no-repeat #527158;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 0 10px;
  width: 77%;

}

 /***** Form  Styles  *****/

 .form-description {
  background: #527158;

}

.form {
  background: #527158;
}

/*****  Form Styles - Input and Button Styles *****/
  
aside .form {
  margin: 30px 0;
}
 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

/***** Features Styles  *****/

.features {
  background: #1a2c2a;
  padding: 0 10px;
  width: 77%;
 }

 .features-items {
  background: url('../img/rawpixel-800820-unsplash1.jpg') center no-repeat #527158;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
 }

.features-items p {
  margin: 0;

 }

 .features article {
  text-align: center;
  width: 63%;
  margin: 30px 0;
 }
 
 .features-item-description {

 }

 .fontawesome-icon {
 }

/***** Reviews  Styles  *****/

.reviews {
    background: #2a423a;
    padding: 0 10px;
    width: 77%;
}

 .reviews h3 {
 }

/***** END Main Styles ****************************/


/* other */


.contact-section {

}



.text {

}

.button {

}

/***** MOBILE ABOUT PAGE STYLES  *****/

 .mission {
  background: lightyellow;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 77%;
 }

 .mission .content-wrapper{
  background: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 0 10px;
  width: 100%;
 }

 .contact-section {
  background: #2a423a;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 0 10px;
  width: 77%;
}

 .contact-content {
  background: #2a423a;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 0 10px;
  width: 100%;
 }

 .contact .content-wrapper {

}

/***** MOBILE FAQ PAGE STYLES  *****/

 .faq {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
 }

  .faq .content-wrapper {
  background: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 0 10px;
  width:77%;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
 

 /*Tablet styles here*/
@media only screen and (min-width: 768px) {

header .content-wrapper {
  justify-content: space-between;
  padding: 0 30px 3px;
}

header nav {
  justify-content: flex-end;
  width: 30%;
}

header .header-divider {
  display: none;
}

footer .footer-content {
  flex-flow: row nowrap;
}

footer .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social {
  flex-basis: 50%;
}

footer .contact {
  flex-basis: 50%;
}

address {
  flex-basis: 100%;
}

footer .copyright {
  flex-basis: 100%;
}

/*footer .content-wrapper {
  width: 80%
  margin: 100px 0;
}*/



/* Home page tablet styles */

.hero-area {
  width: 97%;
  padding-left: 63px;
  padding-right: 300px;
}

aside {
  width:97%;
}

aside .content-wrapper {
  margin: 15px 0;
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
}

aside .form {
  margin: 0;
  padding-right: 20px;
  flex-basis: 80%;
}

aside .form-description {
  padding: 0 60px;
}

.features {
  width: 97%;
  padding: 0 65px;
}

.features article {
  flex-basis: 20em;
  padding: 0 3em;
}
.reviews {
  width: 97%;
  padding: 0 65px;
}

.reviews article {
  display:flex;
  justify-content: center;
}



/*.features .content-wrapper {
  max-width: 95%;
  margin: 20px 0;
}*/

/* About page tablet styles */

.mission {
  width: 97%;
}

 .content-wrapper .mission-content {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.mission-content h2 {
  flex-basis: 75%;
}

.mission-content p {
  width: 20em;
  padding-left: 1em;

}

.contact-section {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  width: 97%;
}

.contact-section h2 {
  padding: 0 4em;
}
.content-wrapper {
 flex-basis:100%;
}

.contact-content .content-wrapper {
  width: 12.5em;
  padding: 0 3em;
}

.contact-content .content-wrapper h2 {

}

.contact-content {
  justify-content: space-around;
}

/* FAQ page tablet styles */

.faq {
  width: 97%;
}

 .faq .content-wrapper h2 {
  width:100%;
  padding: 0 4.1em;
 }

.faq-content {
  flex-basis: 20em;
  padding-left: 1em;
}

.faq-content h4, p {

} 
}

/*Desktop styles here*/
@media only screen and (min-width: 1200px) {

/*.content-wrapper {
  max-width: 960px;
}*/ /* I may need to revisit this max-width for small devies and p's that are too long to read*/
body {
  max-width: 1100px;
  margin: 0 auto;
}

header, 
footer {
  padding: 0 17px;
}
 
 header nav {
  width: 60%;
  padding-left: 24em;
 }


main {
  margin: 0;
  padding: 0;
}
/* Hero */


/* Aside which is form area*/

aside .form-description {
 flex-basis: 50%;
}

aside .form {
  flex-basis: 50%;
  padding: 0 60px;
}

/* Features */

/* Reviews */


/***** About page desktop *****/

.mission h2 {
   flex-basis: 90%; 
   padding: 0 6em;
}

.mission-content p {
  width: 25em;
}

.contact-section h2 {
  padding: 0 7.6em;
}

/**** FAQ page desktop *****/
 .faq .content-wrapper h2 {
  width: 90%;
  padding: 0 4.1em;
 }

 .faq-content {
    flex-basis: 30em;
    padding: 0 3em;
 }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

