/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background: black;
}



/***** BASE HEADER AND FOOTER STYLES *****/

header, 
footer {
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 0 15px;
}

 /***** Base Header Styles  *****/

 header .content-wrapper {
  background: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 80%;
  margin: 0;
}

header nav {
  background: darkgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 75%;
  padding: 15px;
}

header nav ul {
  background: yellow;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 15px 0;
  width: 100%;
}

header nav ul li {
  padding: 0 30px;
}


/***** BASE CONTENT WRAPPER? *********/

/*.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}*/

 /***** Base Footer Styles  *****/

/*.footer-content {
  align-content: space-around; 
}*/

footer .content-wrapper {
  background: aliceblue;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


footer .social {
  background: lightyellow;
  padding: 0 15px;
  width: 50%;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  width:50%;
}

footer .social-icons p {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 15px 0;
}

footer .social h4 {
  width: 40%
}

footer .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

footer .contact {
  background: darkgray;
  padding: 0 15px;
  width: 50%;

}

address {

}

footer .copyright {
  background: lightpink;
}

/***** MOBILE HOMEPAGE STYLES  *****/

/***** Header  Styles  *****/


header .header-divider {
  width: 80%;
  height: 3%;
  padding: 15px;

}

figure {

}

/***** Main Styles  **********************************/

main {
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
   padding: 5px;
 }

aside {
  background: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width:77%;

}

section {
}

article {
}

/***** Hero Styles  *****/

.hero-area {
  background: purple;
  display: flex;
  justify-content: center;
  width: 77%;

}

 /***** Form  Styles  *****/

 .form-description {
  background: hotpink;

}

.form {
  background: lime;
}

/***** Features Styles  *****/

.features {
  background: aquamarine;
  width: 77%;
 }

 .features-items {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
 }

.features-items p {
  margin: 0;

 }

 .features article {
  width: 63%;
  margin: 30px 0;
 }
 
 .features-item-description {

 }

 .fontawesome-icon {
 }

/***** Reviews  Styles  *****/

.reviews {
    background: gold;
    width: 77%;
}

 .reviews h3 {
  width: 37%;
 }

/***** END Main Styles ****************************/


/* other */


.contact-section {

}



.text {

}

.button {

}

/***** MOBILE ABOUT PAGE STYLES  *****/

 .mission {
  background: lightyellow;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 77%;
 }

 .mission .content-wrapper{
  background: darkturquoise;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
 }

 .contact-section {
  background: darkseagreen;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 77%;
}

 .contact-content {
  background: darksalmon;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
 }

 .contact .content-wrapper {

}

/***** MOBILE FAQ PAGE STYLES  *****/

 .faq {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
 }

  .faq .content-wrapper {
  background: deepskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width:77%;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
 

 /*Tablet styles here*/
@media only screen and (min-width: 768px) {
header, 
footer {
  flex-flow: row wrap;
}

header content-wrapper {
  justify-content: space-between;
}

header nav {
  justify-content: space-between;
  width: 50%;
}

header .header-divider {
  display: none;
}

footer .footer-content {
  flex-flow: row nowrap;
}

/*footer .content-wrapper {
  width: 80%
  margin: 100px 0;
}*/

footer .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home page tablet styles */

.hero-area {
  width: 97%;
}

aside {
  width:97%;
}

aside .content-wrapper {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
}

.reviews {
  width: 97%;
}

.reviews article {
  display:flex;
  justify-content: center;
}

.features {
  width: 97%;
}

.features article {
  flex-basis: 12.5em;
  padding: 0 3em;
}

/*.features .content-wrapper {
  max-width: 95%;
  margin: 20px 0;
}*/

/* About page tablet styles */

.mission {
  width: 97%;
}

 .content-wrapper .mission-content {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.mission-content h2 {
  flex-basis: 100%;
}

.mission-content p {
  width: 12.5em;
  padding: 0 3em;

}

.contact-section {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  width: 97%;
}

.content-wrapper {
 flex-basis:100%;
}

.contact-content .content-wrapper {
  width: 12.5em;
  padding: 0 3em;
}

.contact-content .content-wrapper h2 {

}

.contact-content {
  justify-content: space-around;
}

/* FAQ page tablet styles */

.faq {
  width: 97%;
}

 .faq .content-wrapper h2 {
  width:100%;
  padding-left: 2em;
 }

.faq-content {
  flex-basis: 12.5em;
  padding: 0 3em;
}

.faq-content h4, p {

} 
}

/*Desktop styles here*/
@media only screen and (min-width: 1200px) {

/*.content-wrapper {
  max-width: 960px;
}*/ /* I may need to revisit this max-width for small devies and p's that are too long to read*/

 
 header nav {
  width: 40%;
  padding-left: 24em;
 }

/* Hero */

.hero-area h1 {
    width: 
}

/* Aside which is form area*/

aside .content-wrapper {
        justify-content:
}
aside .content-wrapper .form-description,
aside .content-wrapper .form {
        width:
    }

/* Features */

 .features article {
   flex-basis: 15em;
 }

 .features h2 {
    width: 
    }


/* Reviews */

.reviews article div {
        width: 
    }


/***** About page desktop *****/

.mission h2,
.contact-section .content-wrapper h2 {
        width: 
    }

/**** FAQ page desktop *****/

 .faq-content {
    flex-basis: 30em;
    padding: 0 3em;
 }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

